.btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background: 0 0;
}
.btn__primary {
  border-radius: 50%;
  background-color: var(--alloy_orange);
  width: 64px;
  height: 64px;
}
