:root {
    --color_dark: #292929;
    --color_900: #015457;
    --color_800: #027374;
    --color_700: #038785;
    --color_600: #049592;
    --color_500: #06A299;
    --color_400: #08B3A6;
    --color_300: #0AC4B4;
    --color_200: #0DDAC5;
    --color_100: #70EFDE;
    --color_50: #C8FFF4;
}
html,
body {
  padding: 0;
  background-color: var(--color_dark);
  color: var(--color_50);
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main {
}
h1 {
  margin: 0;
  padding: 0;
}
.icon {
  width: 64px;
  height: 64px;
  display: inline-block;
}
.place {
  background-image: url("/assets/svg/place_black_24dp.svg");
  background-repeat: no-repeat;
}
.explore {
  background-image: url("/assets/svg/explore_black_24dp.svg");
  background-repeat: no-repeat;
}
.my_location {
  background-image: url("/assets/svg/my_location_black_24dp.svg");
  background-repeat: no-repeat;
}
.arrow {
  background-image: url("/assets/svg/arrow_back_black_24dp.svg");
  background-repeat: no-repeat;
}
.directions_walk {
    background-image: url("/assets/svg/directions_walk_black_24dp.svg");
    background-repeat: no-repeat;
}
