/* List.module.css */
.list {
  border: 1px solid #bfbfbf;
  box-shadow: 0 0 0.75rem 0 #bfbfbf;
  border-radius: 8px;
}
.list_item {
  display: flex;
  gap: 8px 16px;
  height: 64px;
  border-bottom: 1px solid #bfbfbf;
  padding: 16px;
  align-items: center;
}
.list_item:first-of-type {
}
.list_item:last-of-type {
  border-bottom: none;
}
.list_item__title {
  width: 20%;
}
.list_item__title a {
  font-weight: 600;
  position: relative;
  left: 24px;
}
.list_item__content {
  display: flex;
  gap: 8px;
}
