/* List.module.css */
.list {
  background-color: var(--color_900);
}
.list_item {
  display: flex;
  border-bottom: 1px solid #bfbfbf;
  padding: 16px;
  align-items: center;
  cursor: pointer;
}
.list_item:first-of-type {
}
.list_item:last-of-type {
  border-bottom: none;
}
.list_item__title {
  display: flex;
  align-items: center;
}
.list_item__title span {
  font-weight: bolder;
}
.list_item__title .icon {
}
.list_item__content {
  align-items: center;
  display: flex;
}
.list_item__content span {
  margin-right: 8px;
}
.list_item__content span:last-of-type {
  margin-right: 0;
}
@media only screen and (min-width: 320px) {
  .list_item {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .list_item__title {
    width: 100vw;
  }
}
