/* List.module.css */
.list {
    background-color: var(--color_900);
}
.list_item {
  display: flex;
  height: 64px;
  border-bottom: 1px solid #bfbfbf;
  padding: 16px;
  align-items: center;
}
.list_item:first-of-type {
}
.list_item:last-of-type {
  border-bottom: none;
}
.list_item__title {
    display: flex;
    align-items: center;
}
.list_item__title a {
}
.list_item__content {
}
@media only screen and (min-width: 320px) {
  .list_item {
    justify-content: space-between;
  }
}
