/* Stand.module.css */
.header {
  display: flex;
  height: 64px;
  align-items: center;
    background-color: var(--color_800);
}
.header span {
    cursor: pointer;
}
.row {
  display: grid;
  grid-template-columns: [first] 10% [line2] 90% [end];
  width: calc(100vw - 32px);
  grid-template-rows: 64px;
  margin: 0 16px;
}
.row .column:first-of-type {
}
.row .column:last-of-type {
}
