/* Toast CSS */
.toast {
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 999;
  background-color: var(--color_600);
  display: flex;
  justify-content: center;
}
.toast__text {
  padding: 16px 32px;
  color: var(--color_50);
}
