.container {
  background-color: #bfbfbf;
  height: 40px;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
}
.label {
  font-weight: bolder;
}
