.container {
  background-color: #bfbfbf;
  border-radius: 8px;
  position: fixed;
  bottom: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100vw - 32px);
}
.button {
}
.label {
  font-weight: bolder;
  cursor: pointer;
}
