.container {
  background-color: var(--color_600);
  position: fixed;
  bottom: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
}
.button {
}
.label {
  font-weight: bolder;
  cursor: pointer;
}
